[Desktop Entry]
Version=1.0
Type=Application
Name=iCloud Contacts
Comment=Access iCloud Contacts in your browser
Icon=com.apple.icloud.Contacts
Exec=/app/bin/launch-icloud.sh contacts
Categories=Office;ContactManagement;
Terminal=false
StartupNotify=true
StartupWMClass=epiphany
