[Desktop Entry]
Version=1.0
Type=Application
Name=iCloud Pages
Comment=Access iCloud Pages
Icon=me.santisbon.iCloudServices.Pages
Exec=/app/bin/launch-icloud.sh pages
Categories=Office;WordProcessor;
Terminal=false
StartupNotify=true
StartupWMClass=icloud-pages
