[Desktop Entry]
Version=1.0
Type=Application
Name=iCloud Notes
Comment=Access iCloud Notes in your browser
Icon=me.santisbon.iCloudServices.Notes
Exec=/app/bin/launch-icloud.sh notes
Categories=Office;TextEditor;
Terminal=false
StartupNotify=true
StartupWMClass=icloud-notes
