[Desktop Entry]
Version=1.0
Type=Application
Name=iCloud Contacts
Comment=Access iCloud Contacts in your browser
Icon=me.santisbon.iCloudServices.Contacts
Exec=/app/bin/launch-icloud.sh contacts
Categories=Office;ContactManagement;
Terminal=false
StartupNotify=true
StartupWMClass=icloud-contacts
