[Desktop Entry]
Version=1.0
Type=Application
Name=iCloud Mail
Comment=Access iCloud Mail
Icon=me.santisbon.iCloudServices.Mail
Exec=/app/bin/launch-icloud.sh mail
Categories=Network;Email;
Terminal=false
StartupNotify=true
StartupWMClass=icloud-mail
