[Desktop Entry]
Version=1.0
Type=Application
Name=iCloud Calendar
Comment=Access iCloud Calendar in your browser
Icon=me.santisbon.iCloudServices.Calendar
Exec=/app/bin/launch-icloud.sh calendar
Categories=Office;Calendar;
Terminal=false
StartupNotify=true
StartupWMClass=icloud-calendar
